### **Introduction**
This project is my first step into the world of data analysis and understanding what it takes to work with data.

The idea behind this project is simple, pick a dataset, learn to clean, analyze and extract statistical insights, then create visualizations that communicate some of the findings.

LINK TO DATASET: https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows

For this mini project, I decided to use a dataset containing the top 1000 IMDB movies from Kaggle.

### **Part 1: Data Exploration and Cleaning**

In [63]:
# importing Python libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### **Data Overview**
- how many rows and columns does the dataset have?
- what are the data types of each column? are there any missing values?

In [53]:
# reading data from .csv file
data = pd.read_csv("imdb_top_1000.csv")

In [ ]:
data.shape

There are 1000 rows and 16 columns, in the dataset. This is prior to cleaning the dataset of unnecessary columns.

In [ ]:
data.dtypes

Majority of the data types in the dataset are objects (which can contain both characters and numbers). Columns such as `Released_Year`, `Runtime`, `Gross` should be converted to `int64` to make it easier to work with. Additionally, columns such as `Poster_Link`, `Certificate`, `Overview` and `Meta_score` are unnecessary for my use case and could be removed.

In [ ]:
data.isna().sum()

The table above shows the number of null values for each column. I will have to find a way to handle null values for `Gross`

In [ ]:
data.duplicated().sum()

There are no duplicate rows in the dataset.

#### **Data Cleaning**
- identify and handle any missing or inconsistent data
- are there any outliers in the dataset? if so, how would you handle them?

In [58]:
# dropping unnecessary columns
data = data.drop(columns=["Poster_Link", "Certificate", "Overview", "Meta_score", "No_of_Votes"])

# dropping rows where Gross is NaN because no other method makes sense
data = data.dropna(subset="Gross")

# renaming columns 
data = data.rename(columns={"Series_Title" : "Movie_Title", "Released_Year" : "Release_Year", "Runtime" : "Runtime (in min)"})

# using the Movie_Title as the index instead of 0,1,2...
data = data.set_index("Movie_Title")

In [ ]:
data.isna().sum()

After removing any columns that were not needed, renaming some to eliminate confusion and changing the index, did a recheck for any null values that may have been missed and its looking good. Doing a premature check (`data.max()`) to see if the data types should be changed, it is obvious that a Runtime of 99 min and a Gross revenue of $985, 912 make no sense at all and can be confirmed by just reading the first few rows of `data.head(5)`. This confirms that some of the data types should be converted to make sure they make sense.

In [60]:
# remove any non-numeric characters (e.g., strip whitespaces) and convert to int
data['Release_Year'] = pd.to_numeric(data['Release_Year'], errors='coerce').astype('Int64')

# extract numeric values from Runtime and convert to int
data['Runtime (in min)'] = data['Runtime (in min)'].str.extract(r'(\d+)').astype('Int64')

# remove non-numeric characters (like $, commas) and convert to int
data['Gross'] = data['Gross'].replace(r'[\$,]', '', regex=True).astype('Int64')

After performing the conversions and doing a recheck (`data.max()`), the outputs make much more sense. And can further be verified by doing `data.sort_values(by=["Gross"], ascending=False)`. Replace gross with another column name and match with the output of `data.max()` to make sure the values are correct.

In [ ]:
data.sort_values(by=["Gross"], ascending=False)